@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-ReservoirGrunge: 'ReservoirGrunge', sans-serif;
  --font-EingrantchMono: 'EingrantchMono', sans-serif;
  --font-Inter: 'inter', sans-serif;
  --font-ReemKufi: 'ReemKufi', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-RG: var(--font-ReservoirGrunge);
  --font-I: var(--font-Inter);
  --font-EM: var(--font-EingrantchMono);
  --font-RK: var(--font-ReemKufi);
}

.font-sans {
  font-family: var(--font-inter);
}

@font-face {
  font-family: 'ReservoirGrunge';
  font-weight: 400;
  src: url('../app/assets/fonts/ReservoirGrunge/RESEGRG_.TTF') format('truetype');
}

@font-face {
  font-family: 'EingrantchMono';
  font-weight: 400;
  src: url('../app/assets/fonts/EingrantchMono/EingrantchMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'ReemKufi';
  font-weight: 400;
  src: url('../app/assets/fonts/ReemKufi/ReemKufi-Regular.ttf') format('truetype');
}

