@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-ReservoirGrunge: 'ReservoirGrunge', sans-serif;
  --font-EingrantchMono: 'EingrantchMono', sans-serif;
  --font-Inter: 'inter', sans-serif;
  --font-ReemKufi: 'ReemKufi', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-RG: var(--font-ReservoirGrunge);
  --font-I: var(--font-Inter);
  --font-EM: var(--font-EingrantchMono);
  --font-RK: var(--font-ReemKufi);
}

.font-sans {
  font-family: var(--font-inter);
}

@theme {
  --color-primary: #63adf2;
  --color-primary-dark: #3066be;
  --color-secondary: #c4e0f9;
  --color-error: #ff0000;
  --color-text-blue: #304d6d;
  --color-success: #21897e;
  --color-warning: #ff6700;
  --color-accent: #3a7ca5;
  --color-background: #eaf4fc;
  --color-background-dark: #31393c;
  --color-ghost-dark: #92b4f4;
  --color-ghost-light: #c6d8ff;
  --color-common: #ebf2fa;
}

@font-face {
  font-family: 'ReservoirGrunge';
  font-weight: 400;
  src: url('../app/assets/fonts/ReservoirGrunge/RESEGRG_.TTF')
    format('truetype');
}

@font-face {
  font-family: 'EingrantchMono';
  font-weight: 400;
  src: url('../app/assets/fonts/EingrantchMono/EingrantchMono-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: 'ReemKufi';
  font-weight: 400;
  src: url('../app/assets/fonts/ReemKufi/ReemKufi-Regular.ttf')
    format('truetype');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
