@import 'tailwindcss';

@layer base {
  :root {
    --primary: 208 83% 67%;
    --primary-dark: 219 60% 46%;
    --secondary: 204 72% 88%;
    --error: 0 100% 50%;
    --text-blue: 211 39% 30%;
    --success: 174 61% 34%;
    --warning: 24 100% 50%;
    --accent: 210 49% 44%;
    --background: 205 66% 94%;
    --background-dark: 204 10% 21%;
    --ghost-dark: 219 82% 75%;
    --ghost-light: 223 100% 88%;
  }

  /* .dark{

} */
}

@theme {
  --font-ReservoirGrunge: 'ReservoirGrunge', sans-serif;
  --font-EingrantchMono: 'EingrantchMono', sans-serif;
  --font-Inter: 'inter', sans-serif;
  --font-ReemKufi: 'ReemKufi', sans-serif;
  --font-Geist: 'geist', sans-serif;
  --font-Montserrat: 'Montserrat', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-RG: var(--font-ReservoirGrunge);
  --font-I: var(--font-Inter);
  --font-geist: var(--font-Geist);
  --font-EM: var(--font-EingrantchMono);
  --font-RK: var(--font-ReemKufi);
  --font-MS: var(--font-Montserrat);
}

.font-sans {
  font-family: var(--font-inter);
}

@theme {
  --color-primary: hsl(var(--primary));
  --color-primary-dark: hsl(var(--primary-dark));
  --color-secondary: hsl(var(--secondary));
  --color-error: hsl(var(--error));
  --color-text-blue: hsl(var(--text-blue));
  --color-success: hsl(var(--success));
  --color-warning: hsl(var(--warning));
  --color-accent: hsl(var(--accent));
  --color-background: hsl(var(--background));
  --color-background-dark: hsl(var(--background-dark));
  --color-ghost-dark: hsl(var(--ghost-dark));
  --color-ghost-light: hsl(var(--ghost-light));
}

@font-face {
  font-family: 'ReservoirGrunge';
  font-weight: 400;
  src: url('../app/assets/fonts/ReservoirGrunge/RESEGRG_.TTF')
    format('truetype');
}

@font-face {
  font-family: 'EingrantchMono';
  font-weight: 400;
  src: url('../app/assets/fonts/EingrantchMono/EingrantchMono-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: 'ReemKufi';
  font-weight: 400;
  src: url('../app/assets/fonts/ReemKufi/ReemKufi-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../app/assets/fonts/Montserrat/Montserrat-Regular.ttf')
    format('truetype');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  /* animation: {
      "accordion-down": "accordion-down 0.2s ease-out",
      "accordion-up": "accordion-up 0.2s ease-out",
    }, */
}
@keyframes accordion-down {
  0% {
    height: 0;
  }
  100% {
    height: var(----radix-accordion-content-height);
  }
}
@keyframes accordion-up {
  100% {
    height: var(----radix-accordion-content-height);
  }
  0% {
    height: 0;
  }
}
